<footer class="page-footer">
   <div class="footer-copyright">
        <div class="container">
            <div>
                The contents of this wiki are freely available licensed via a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
                <br>
                <a href="https://www.calconnect.org/about/policies/copyright-licensing">Copyright © The Calendaring and Scheduling Consortium</a>.
	       </div>
        </div>
    </div>
</footer>
