<footer class="page-footer">
   <div class="footer-copyright">
        <div class="container">
            <div id="footer-left" style="float:left">
              CalConnect<sup>SM</sup> is a Service Mark of The Calendaring and Scheduling Consortium.
            </div>
             <div id="footer-right" style="float:right">
              Copyright © CalConnect<sup>SM</sup>. <a href="https://www.calconnect.org/about/policies/copyright-licensing">Copyright and Licensing Information</a>
            </div>
        </div>
    </div>
</footer>
