<div id="topbar-inner">
    <div id="topbar-inner" class="navbar container">
        <div id="titleBar">
            <a href="{{ "/" | relative_url }}">CalConnect</a>
        </div>
    </div>
</div>
<nav class="deep-purple lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url
        }}">CALCONNECT <span class="hidden-xs">Public Information</span></a>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
    </div>
</nav>
